html {
  height: 100%;
  background:
    linear-gradient(to left, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("./lego.jpg")
    fixed
    center
    center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-image: linear-gradient(
      105deg,
      rgba(255, 255, 255, 1) 50em,
      rgba(0,0,0,0) calc(50em + 2px)
    );
  margin: 0;
  padding-right: 40%;
  padding-left: 2.5em;
  height: 100%;
}

.header {
  padding-top: 2em;
  padding-bottom: 1em;
  height: 3em;
  width: 100%;
}

.header-left {
  width: 3em;
  float: left;
}

.header-right {
  margin-top: 0.15em;
  margin-left: 2.5em;
  height: 100%;
  font-size: 1.75em;
  font-family: Noto Sans, sans-serif;
  font-weight: bold;
  font-stretch: expanded;
}

.header img {
  max-height: 3em;
}

.content {
  padding-top: 3em;
  max-width: 35em;
  min-width: 15em;
  line-height: 1.5;
}

input.invalid {
  border-color: rgb(255, 0, 0) !important;
  color: rgb(255, 0, 0);
  font-weight: bold;
}

button.success {
  background-color: green !important;
}

button.failure {
  background-color: red !important;
}

#subform input, #subform button {
  width: 100%;
  margin-top: 1em;
  width: 100%;
  padding: 0.5em;
  font-size: 0.75em;
}

#subform input {
  border-style: solid;
  border-width: 2px;
  border-radius: 7px;
  border-color: rgb(30, 100, 170);
}

#subform button {
  background-color: rgb(50, 130, 225);
  border-style: solid;
  border-width: 2px;
  border-radius: 7px;
  border-color: rgb(30, 100, 170);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.footer {
  color: rgb(170, 170, 170);
  position: fixed;
  bottom: 0;
  font-size: 0.8em;
}

.footer p {
  max-width: 75%;
  line-height: 1;
}
